@font-face {
	font-family: "Museo 500";
	src: local("Museo 500"), local("Museo-500"),
		url("../fonts/Museo500-Regular.otf") format("opentype");  
	}
@font-face {
	font-family: "Museo Sans 500";
	src: local("Museo Sans 500"), local("MuseoSans-500"),
		url("../fonts/MuseoSans_500.otf") format("opentype");
	}
@font-face {
	font-family: "Museo Sans 500 Italic";
	src: local("Museo Sans 500 Italic"), local("MuseoSans-500Italic"),
		url("../fonts/MuseoSans_500_Italic.otf") format("opentype");
	}
@font-face {
	font-family: "Museo 300";
	src: local("Museo 300"), local("Museo-300"),
		url("../fonts/Museo300-Regular.otf") format("opentype");
	}
@font-face {
	font-family: "Museo 700";
	src: local("Museo 700"), local("Museo-700"),
		url("../fonts/Museo700-Regular.otf") format("opentype");
	}
@font-face {
	font-family: "Museo 900";
	src: local("Museo 900"), local("Museo-900"),
		url("../fonts/Museo900-Regular.otf") format("opentype");
	}
