*{
	margin:0;
	text-decoration:none;
/*	*/
}

a, a:hover,a:visited{
  color:#ffffff;
}
img{
  margin:0;
  padding:0;
}

h1{
  font-size:36px;
}

h2{
  font-size:28px;
}

h3{
  font-size:20px;
}
body{
	font-family:Arial,helvetica,Tahoma,Verdana,sans-serif;
}