*{
	margin:0;
	text-decoration:none;
/*	*/
}

a{
  color:inherit;
}
img{
  margin:0;
  padding:0;
}

h1{
  font-size:36px;
}

h2{
  font-size:28px;
}

h3{
  font-size:20px;
}
