header{
  background-image:url("../img/LOGO_VIVA.png");
  background-repeat:no-repeat;
  background-position:center right;
	height:120px;
	font-size:60px;
	font-family:"Museo 700";
	color:#C1D62F;
	line-height:2.0em;
}

footer{
	background-image:url("../img/LOGO_ALELO.png");
  background-repeat:no-repeat;
  background-position:center right;
	height:70px;
	font-family:"Museo Sans 500","Lucida Sans",helvetica,Tahoma,Verdana,sans-serif;
	padding-top:50px;
	clear:both;
}

#main{
/*	padding:20px 0 0 0;*/
	background-color:#C1D62F;
	color:#ffffff;
	height:100%;
  font-family:"Museo 500";
  font-size:18px;
  -moz-box-shadow: 3px 3px 5px #888;
  -webkit-box-shadow: 3px 3px 5px #888;
  box-shadow: 3px 3px 5px #888;  
}
#sub{
  -moz-box-shadow: 3px 3px 5px #888;
  -webkit-box-shadow: 3px 3px 5px #888;
  box-shadow: 3px 3px 5px #888;  
}
#main h1{
	color:#ffffff;
	line-height:2.0em;
	font-family:"Museo 700";
}

#top_img{
/*  background-image:url("../img/IMG_PRINCIPAL_PB.jpg");*/
  background-repeat:no-repeat;
  width:1200px;
 	margin:auto; 
	position:relative;
  height:500px;
  clear:both;
}
#tag{
  width:350px;
  height:500px;
  margin-left:100px;
  clear:both;
}
#materia_1{
  background-repeat:no-repeat;
  background-position:100px 0;
  height:320px;
}
#intro_materia_1{
  width:482px;
  float:right;
  clear:left;
}
#materia_2{
  background-repeat:no-repeat;
  background-position:center right;
}
#intro_materia_2{
   width:320px;
   height:320px;
   margin-left:398px;
   clear:left;
}
#materia_3{
  background-repeat:no-repeat;
  background-position:center left;
}
#intro_materia_3{
   width:398px;
   height:320px;
   clear:left;
}
#sec_left{
  width:398px;
  float:left;
  height:628px;
}
#sec_center{
  background-color:#ffffff;
  float:left;
}
#sec_right{
  width:456px;
  float:right;
  height:628px
}
#top_materia{
  background-image:url("../img/IMG_MATERIA.jpg");
  background-repeat:no-repeat;
  background-position:center left;
  height:300px;
  clear:both;
}
.top_tag{
  padding:5px;
  text-align:center;
  font-size:16px;
  margin-bottom:226px;
  font-family:"Museo 700";
}
.bottom_tag{
  height:145px;
  padding:20px 15px 10px 15px ;
  font-size:20px !important;
}

.bottom_tag p{
  font-size:16px;
}
.conteiner{
	width:1000px;
	margin:auto; 
	position:relative;
}
.conteiner_large{
	width:1200px;
	margin:auto; 
	position:relative;
}

.date{
	height:180px;
	width:280px;
	float:left;
	vertical-align:middle;
	font-family:"Museo 500";
	font-size:24px;
	padding:120px 40px 0px 40px;
}

.division_green{
  clear:both;
	background-color:#008364;
/*	height:300px;*/
}
.division_white{
  clear:both;
	background-color:#ffffff;
/*	height:300px;*/
}
.division_lemon{
  clear:both;
	background-color:#C1D62F;
/*	height:300px;*/
}
.files{
  margin-bottom:300px;
  min-height:300px;
}
.content_blue{
	background-color:#0091B6;
}

.content_green{
	background-color:#008364;
}

.content_lemon{
	background-color:#C1D62F;
}
.content_white{
	background-color:#ffffff;
	color:#000000;
  font-family:"Museo Sans 300";
  font-size:14px;
  overflow:auto;
}
.content_white article{
	height:300px !important;
	width:300px !important;
	padding:0px !important;
}

.text{
	height:560px;
	width:560px;
	float:right;
	padding:20px 40px;
}

.text ul{
  margin:0;
  padding:0;
}
.text li{
/*  margin-bottom:10px;*/
  padding:0;  
}

.text a{
  font-family:"Museo 700";
  font-size:20px;
  color:#ffffff;
  line-height:2.0em;
}
.link_green_right{
  background-color:#C1D62F;
  background-image:url("../img/link_green.png");
  background-repeat:no-repeat;
  background-position:center right;
  text-align:right;
  line-height:4.5em;
  height:70px;
  font-family:"Museo 700";
  font-size:20px;
}
.link_green_right a{
  padding:20px 30px 20px 40px !important;
}
.link_green_left{
  background-color:#C1D62F;
  background-image:url("../img/link_green_l.png");
  background-repeat:no-repeat;
  background-position:center left;
  text-align:left;
  line-height:4.5em;
  height:70px;
  font-family:"Museo 700";
  font-size:20px;  
}
.link_green_left a{
  padding:20px 40px 20px 30px;
}
.link_lemon_right{}
.link_lemon_left{
  background-color:#008364;
  background-image:url("../img/link_lemon_l.png");
  background-repeat:no-repeat;
  background-position:center left;
  text-align:left;
  line-height:4.5em;
  height:70px;
  font-family:"Museo 700";
  font-size:20px;  
}
.link_lemon_left a{
  padding:20px 40px 20px 30px;
}

.transparence{
  opacity:0.8;
  filter:alpha(opacity=80);
  -moz-opacity:0.8;
	-khtml-opacity: 0.8;
}
.left_block{
  padding:20px 20px 20px 110px;
  display:table-cell;
  vertical-align:middle;
}
.right_block{
  padding:20px 110px 20px 20px;
  display:table-cell;
  vertical-align:middle;
}
.blue_bold{
  font-family:"Museo 900" !important;
  color:#0091B6 !important;  
  font-size:60px;
  line-height:0.8em;
}
.blue{
  font-family:"Museo 700";
  color:#0091B6;
  font-size:36px;  
  line-height:1.0em;
}

.white_bold{
  font-family:"Museo 700" !important;
/*  color:#0091B6 !important;  */
  font-size:36px;
  line-height:0.8em;
}
.materia{
  display:block;
  min-height:70px;
  overflow:visible;
}

.coment{
/*  background-color:#000;*/
  float:right;
  height:240px;
  width:320px;
  display:table-cell;
  vertical-align:middle;
  padding:30px 10px;
}

.wb#top_img{
  background-image:url("../img/IMG_PRINCIPAL_PB.jpg");

}
.color#top_img{
  background-image:url("../img/IMG_PRINCIPAL.jpg");
}
.wb#materia_1{
  background-image:url("../img/IMG_02_PB.jpg");
}
.color#materia_1{
  background-image:url("../img/IMG_02.jpg");
}
.wb#materia_2{
  background-image:url("../img/IMG_03_PB.jpg");
}
.color#materia_2{
  background-image:url("../img/IMG_03.jpg");
}
.wb#materia_3{
  background-image:url("../img/IMG_04_PB.jpg");
}
.color#materia_3{
  background-image:url("../img/IMG_04.jpg");
}
