header{
  background-image:url("../img/LOGO_VIVA.png");
  background-repeat:no-repeat;
  background-position:center right;
	height:120px;
	font-size:48px;
	font-family:"Museo 700";
	color:#C1D62F;
	line-height:2.5em;
}

footer{
	background-image:url("../img/LOGO_ALELO.png");
  background-repeat:no-repeat;
  background-position:center right;
	height:70px;
	font-family:"Museo Sans 500","Lucida Sans",helvetica,Tahoma,Verdana,sans-serif;
	padding-top:50px;
}

#main{
/*	padding:20px 0 0 0;*/
	background-color:#C1D62F;
	color:#ffffff;
	height:100%;
  font-family:"Museo 500";
}

#main h1{
	color:#ffffff;
	line-height:2.0em;
	font-family:"Museo 700";
}

#top_img{
  background-image:url("../img/IMG_PRINCIPAL_PB.jpg");
  background-repeat:no-repeat;
  width:1200px;
 	margin:auto; 
	position:relative;
  height:500px;
  clear:both;
}
#tag{
  width:350px;
  height:500px;
  margin-left:100px;
  clear:both;
}
#materia_1{
  background-image:url("../img/IMG_02_PB.jpg");
  background-repeat:no-repeat;
  background-position:100px 0;
  height:320px;
}
#intro_materia_1{
  width:482px;
  float:right;
  clear:left;
}
#materia_2{
  background-image:url("../img/IMG_03_PB.jpg");
  background-repeat:no-repeat;
  background-position:center right;
}
#intro_materia_2{
   width:320px;
   height:320px;
   margin-left:398px;
   clear:left;
}
#materia_3{
  background-image:url("../img/IMG_04_PB.jpg");
  background-repeat:no-repeat;
  background-position:center left;
}
#intro_materia_3{
   width:398px;
   height:320px;
   clear:left;
}
.top_tag{
  padding:5px;
  text-align:center;
  font-size:14px;
  margin-bottom:226px;
}
.bottom_tag{
  height:190px;
  padding:5px;
}

.bottom_tag p{
  font-size:14px;
}
.conteiner{
	width:1000px;
	margin:auto; 
	position:relative;
}
.conteiner_large{
	width:1200px;
	margin:auto; 
	position:relative;
}

.conteiner article{
	height:180px;
	width:280px;
	float:left;
	vertical-align:middle;
	font-family:"Museo 500";
	font-size:24px;
	padding:120px 40px 0px 40px;
}

.division_green{
  clear:both;
	background-color:#008364;
/*	height:300px;*/
}

.division_white{
  clear:both;
	background-color:#ffffff;
/*	height:300px;*/
}
.files{
  margin-bottom:300px;
  min-height:300px;
}
.content_blue{
	background-color:#0091B6;
}

.content_green{
	background-color:#008364;
}

.content_lemon{
	background-color:#C1D62F;
}

.text{
	height:560px;
	width:560px;
	margin:0 0 -300px 0;
	float:right;
	padding:20px 40px;
}

.text ul{
  margin:0;
  padding:0;
}
.text li{
  margin-bottom:10px;
  padding:0;  
}

.text a{
  font-family:"Museo 700";
  font-size:20px;
  color:#ffffff;
  line-height:2.0em;
}
.link_green_right{
  background-color:#C1D62F;
  background-image:url("../img/link_green.png");
  background-repeat:no-repeat;
  background-position:center right;
  text-align:right;
  line-height:4.0em;
  padding-right:10px;
  height:48px;
}

.link_green_left{}
.link_lemon_right{}
.link_lemon_left{}

.transparence{
  opacity:0.9;
  filter:alpha(opacity=90);
  -moz-opacity:0.9;
	-khtml-opacity: 0.9;
}
